<?xml version="1.0"?>
<launch>

  <group ns="outdoor_waypoint_nav"> 
  <rosparam command="load" file="$(find gps_waypoint)/param/ekf_params.yaml" />
  <rosparam command="load" file="$(find gps_waypoint)/param/navsat_params_sim.yaml" />
 

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_with_gps" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen" >

   <param name ="magnetic_declination_radians" value="0"/>
   <param name ="yaw_offset" value="0"/>
   <param name ="zero_altitude" value="true"/>

   <param name ="broadcast_utm_transform" value="false"/>
   <param name ="publish_filtered_gps" value="false"/>

   <param name ="use_odometry_yaw" value="false"/>
   <param name ="wait_for_datum" value="false"/>

      <remap from="/odometry/filtered" to="/odom"/>
      <remap from="gps/fix" to="/navsat/fix"/>
      <remap from="imu/data" to="/imu/data"/>
  </node>
  </group>

</launch>
